<section>
  <header>
    <h2>Profile: configuration</h2>
  </header>
  <section class="tiles">
    <article class="style6">
      <span class="image">
        <%= image_tag 'pic01.jpg' %>
      </span>
      <%= link_to test_case_path('rp-discovery-jwks_uri-keys'), data: {popup: true} do %>
        <h2>rp-discovery-jwks_uri-keys</h2>
        <div class="content">
          <p>The Relying Party uses keys from the jwks_uri which has been obtained from the OpenID Provider Metadata.</p>
        </div>
      <% end %>
    </article>
    <article class="style5">
      <span class="image">
        <%= image_tag 'pic02.jpg' %>
      </span>
      <%= link_to test_case_path('rp-discovery-issuer-not-matching-config'), data: {popup: true} do %>
        <h2>rp-discovery-issuer-not-matching-config</h2>
        <div class="content">
          <p>Retrieve OpenID Provider Configuration Information for OpenID Provider from the .well-known/openid-configuration path. Verify that the issuer in the provider configuration matches the one returned by WebFinger.</p>
        </div>
      <% end %>
    </article>
    <article class="style4">
      <span class="image">
        <%= image_tag 'pic03.jpg' %>
      </span>
      <%= link_to test_case_path('rp-discovery-openid-configuration'), data: {popup: true} do %>
        <h2>rp-discovery-openid-configuration</h2>
        <div class="content">
          <p>Retrieve and use the OpenID Provider Configuration Information.</p>
        </div>
      <% end %>
    </article>
    <article class="style2">
      <span class="image">
        <%= image_tag 'pic04.jpg' %>
      </span>
      <%= link_to test_case_path('rp-id_token-sig-none'), data: {popup: true} do %>
        <h2>rp-id_token-sig-none</h2>
        <div class="content">
          <p>Use Code Flow and retrieve an unsigned ID Token.</p>
        </div>
      <% end %>
    </article>
    <article class="style1">
      <span class="image">
        <%= image_tag 'pic05.jpg' %>
      </span>
      <%= link_to test_case_path('rp-key-rotation-op-sign-key'), data: {popup: true} do %>
        <h2>rp-key-rotation-op-sign-key</h2>
        <div class="content">
          <p>Request an ID Token and verify its signature. Make a new authentication and retrieve another ID Token and verify its signature.</p>
        </div>
      <% end %>
    </article>
  </section>
</section>
