<!DOCTYPE html>
<!--
  Phantom by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <meta charset="utf-8" />
    <title>Certified Connect RP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= content_tag :div, id: :wrapper, class: local_assigns[:wrapper_class] do %>
      <header id="header">
        <div class="inner">
          <%= link_to root_path, class: 'logo' do %>
            <span class="symbol">
              <%= image_tag 'logo.svg' %>
            </span>
            <span class="title">Certified Connect RP</span>
          <% end %>
          <% if local_assigns[:with_menu] %>
            <nav>
              <ul>
                <li><a href="#menu">Menu</a></li>
              </ul>
            </nav>
          <% end %>
        </div>
      </header>

      <% if local_assigns[:with_menu] %>
        <nav id="menu">
          <h2>RP Certification</h2>
          <ul>
            <li><%= link_to 'Certified RPs', 'http://oixnet.org/openid-certifications/' %></li>
            <li><%= link_to 'Conformance Test Instructions', 'https://openid.net/certification/rp_testing/' %></li>
            <li><%= link_to 'Conformance Test Profiles', Rails.application.config.rp_ceritification[:idp_base_url] %></li>
            <li><%= link_to 'Conformance Test Logs', File.join(Rails.application.config.rp_ceritification[:idp_base_url], 'log', Rails.application.config.rp_ceritification[:rp_identifier]) %></li>
          </ul>
          <h2>Resources</h2>
          <ul>
            <li><a href="https://github.com/nov/openid_connect">OpenID Connect Gem</a></li>
            <li><a href="https://github.com/nov/connect-rp-certified">Source Code of This RP</a></li>
          </ul>
          <h2>About Me</h2>
          <ul>
            <li><a href="http://matake.jp">Nov Matake</a></li>
            <li><a href="http://yauth.jp">YAuth.jp LLC</a></li>
          </ul>
        </nav>
      <% end %>

      <div id="main">
        <div class="inner">
          <%= yield %>
        </div>
      </div>

      <footer id="footer">
        <div class="inner">
          <% if Rails.application.config.rp_ceritification[:certified] %>
            <div class="certification_mark">
              <%= link_to image_tag('certification_mark.png'), 'http://oixnet.org/openid-certifications/nov-matake/' %>
            </div>
          <% end %>
          <% if local_assigns[:with_social_icons] %>
            <ul class="icons">
              <li>
                <a href="https://twitter.com/nov" class="icon style2 fa-twitter">
                  <span class="label">Twitter</span>
                </a>
              </li>
              <li>
                <a href="https://facebook.com/matake" class="icon style2 fa-facebook">
                  <span class="label">Facebook</span>
                </a>
              </li>
              <li>
                <a href="https://github.com/nov" class="icon style2 fa-github">
                  <span class="label">GitHub</span>
                </a>
              </li>
            </ul>
          <% end %>
          <ul class="copyright">
            <li>&copy; <a href="http://matake.jp">Nov Matake</a></li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>
        </div>
      </footer>
    <% end %>
  </body>
</html>
